.container{
    margin-top: 50px;
}

/*style of skip button to switch between memes */
.skip{
    background-color: black;
}

/*style of  button to generate memes */
.generate {
    background-color: coral;
}